header {
  text-align: center;
  margin: 20px 0 40px;
  background-image: url("/bookworm.webp");
  background-position: 30% 74%;
  display: inline-block;
  padding: 5px 3px;
  width: 100%;
  cursor: pointer;
  color: SaddleBrown;
  min-height: 120px;
}

header img {
    float: left;
    width: 180px;
    margin: 0 0 10px 10px;
}

header h1 {
  font-size: 48px;
  text-align: left;
  margin: 20px 0 5px 20px;
  line-height: 0.8;
  width: 100%;
}

header h2 {
  text-align: left;
  font-size: 28px;
  font-weight: 300;
  margin: 0 0 0 20px;
  width: 100%;
}

h2 {
  margin: 15px 0;
  display: inline-block;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 5px;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  margin: 5px;
}

body {
  margin: 0 10%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
    width: 100%;
    clear: both;
    margin: 0 auto;
    border-collapse: collapse;
    border: none;
}

table td,
table th {
    text-align: left;
    padding: 2px 4px;
    vertical-align: top;
}

table th {
    background-color: #eee;
}

table.books-inventory td,
table.books-inventory th {
    border: 2px solid;
    border-color: #ddd;
}

table.book-detail h2 {
    margin-top: 0;
}

table.bill {
    width: 300px;
    float: left;
}

table.bill td:nth-child(2) {
    text-align: right;
}

table.book-detail button {
    clear: both;
    width: 200px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    background-color: OldLace;
    color: SaddleBrown;
    margin: 20px 0;
    border-color: Brown;
    border-radius: 5px;
    cursor: pointer;
}
